[Unit]
Description=Icinga vSphereDB Daemon
Documentation=https://icinga.com/docs/icinga-module-for-vsphere/latest/
Wants=network.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/icinga-vspheredb
EnvironmentFile=-/etc/sysconfig/icinga-vspheredb
ExecStart=/usr/bin/icingacli vspheredb daemon run
; For debugging purposes:
; ExecStart=/usr/bin/icingacli vspheredb daemon run --trace --debug
User=icingavspheredb

NotifyAccess=main
WatchdogSec=10

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
