[Unit]
Description=Icinga vSphereDB Sync (%i)
Documentation=https://github.com/Thomas-Gelf/icingaweb2-module-vspheredb/blob/master/README.md
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/icingacli vspheredb daemon run --vCenterId "%i" --verbose
; For debugging purposes:
; ExecStart=/usr/bin/icingacli vspheredb daemon run --vCenterId "%i" --trace --debug
Restart=always
RestartSec=5
User=icingaweb2

[Install]
WantedBy=multi-user.target
