.table-vms {
  td {
    width: 10em;

    &:first-of-type {
      width: auto;
    }
  }
}

.sparks {
  width: 4em;
  height: 3em;
  overflow: hidden;
}

#layout.twocols {
  .table-vms {
    td, th {
      display: none;

      &:first-of-type {
        display: block;
      }
    }
  }
}

.vcenter-summaries {
  > a {
    width: 20em;
    background-color: gray;
    color: white;
    height: 20em;
    display: inline-block;
    text-decoration: none;
    margin: 0.2em;

    &:hover {
      text-decoration: inherit;
    }

    > span {
      display: block;
    }

    > .number {
      font-size: 6em;
      line-height: 2.5em;
      text-align: center;
    }

    > .title {
      font-size: 1.5em;
      line-height: 1em;
      text-align: center;
    }
  }
}

#layout.twocols {
  .vcenter-summaries {
    font-size: 0.8em;
  }
}

/** Action Bar **/
div.action-bar a, div.action-bar form i {
  color: @icinga-blue;
}

div.action-bar > a {
  margin-right: 1em;
}

div.action-bar {
  .pagination-control {
    float: none;
    clear: none;
    display: inline-block;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
  }

  form input {
    margin: 0;
  }
}

#layout.twocols div.action-bar .pagination-control {
  li {
    display: none;
  }

  li:nth-child(1), li.active, li:last-child {
    display: list-item;
  }

  li.active a {
    border-bottom: none;
  }
}

/** Tree **/
.tree li a {
  display: inline-block;
  padding-left: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #777;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 0.8em 0.4em;
}

ul.tree li > .handle {
  background-image: none;
  &:before {
    content: '\e806';
    font-family: 'ifont';
    position: absolute;
    font-size: 0.6em;
    margin-left: 0.25em;
    margin-top: 0.9em;
  }
}
ul.tree li.collapsed > .handle {
  background-image: none;
  &:before {
    content: '\e805';
  }
}
/** Tree custom **/

.tree li a.red::before {
  color: @colorCritical;
}

.tree li a.yellow::before {
  color: @colorWarning;
}

.tree li a.green::before {
  color: @colorOk;
}


/** QuickSearch **/

form.quicksearch {
  display: block;
  input.search {
    width: 8em;
    min-width: unset;
    border: none;
    background-size: 0.75em auto;
    background-position: 0.5em 0.9em;
    padding-left: 1.5em;
    margin-left: 1.5em;
    font-size: 0.75em;
    font-weight: normal;
    &:focus {
      width: 16em;
      .transition(width 0.5s ease);
      border: none;
    }
  }
}

#layout.twocols form.quicksearch input.search {
  float: right;
}

/** Path **/
span.dc-path a {
  color: @icinga-blue;
}

/** Table VM state **/
table {

  tr.poweredOn td:first-child, tr.poweredOff td:first-child, tr.datastore td:first-child {
    padding-left: 2em;
    &::before {
      font-family: 'ifont';
      // icon-help:
      float: left;
      content: '\e85b';
      font-weight: bold;
      margin-left: -1.5em;
      margin-top: 0;
    }
  }

  tr.poweredOn td:first-child::before {
    // icon-ok
    color: @color-ok;
    content: '\e803';
  }

  tr.poweredOff td:first-child::before {
    color: @gray;
    // icon-off
    content: '\e815';
  }

  tr.datastore td:first-child::before {
    color: @gray;
    // icon-database
    content: '\e80c';
  }

  tr.datastore td:first-child::before {
    color: @colorOk;
  }
  tr.yellow td:first-child::before {
    color: @colorWarning;
  }
  tr.red td:first-child::before {
    color: @colorCritical;
  }
}

/** Various **/

table.name-value-table a {
  color: @icinga-blue;
}

/** Disk Usage **/

div.disk-usage {
  width: 100%;
  min-width: 8em;
  border: none;
  padding: 0;
  background-color: @gray-lighter;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-height: 1em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  overflow: hidden;

  span {
    display: inline-block;
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
  }

  a {
    display: inline-block;
    height: 6em;
    vertical-align: top;
    background-color: @gray;
    text-decoration: none;
    outline: none;
    overflow: visible;
    line-height:1em;
    // min-width: 0.3em;
    margin: 0;
    padding: 0;
    &:hover {
      text-decoration: none;
      background-color: rgb(70, 128, 255) !important;
    }

    &.free {
      background-color: @color-ok;
    }
    &.free:hover {
      background-color: inherit !important;
    }

    &.free.overcommitted {
      background-color: @color-warning-handled;
    }

    &.free.overcommitted-twice {
      background-color: @color-critical-handled;
    }
  }

  &.compact {
    margin: 0;
    height: 1.2em;
    a {
      height: 1.2em;
    }
  }
}

/* Less spacing in rows */
.common-table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Tree, stolen from Director */

.tree li a {
  display: inline-block;
  padding-left: 2.4em;
  line-height: 2em;
  text-decoration: none;
  color: #777;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 0.8em 0.4em;
}

ul.tree li > .handle {
  background-image: none;
  &:before {
    content: '\e806';
    font-family: 'ifont';
    position: absolute;
    font-size: 0.6em;
    margin-left: 0.25em;
    margin-top: 0.9em;
  }
}
ul.tree li.collapsed > .handle {
  background-image: none;
  &:before {
    content: '\e805';
  }
}
.tree li a {
  padding-left: 1em;
}
/* End of tree */
