a:focus {
  outline: none;
}

a:hover::before {
  text-decoration: none;
}

p.error, p.warning, p.information {
  color: white;
  padding: 1em 2em;
  font-weight: bold;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

p.error {
  background-color: @colorCritical;
}

p.warning {
  background-color: @colorWarning;
}

p.information {
  background-color: @colorOk;
}

a.ManagedObject {
  padding-left: 0.5em;
}
a.ManagedObject::before {
  font-family: 'ifont';
  // icon-help:
  content: '\e85b';
  float: left;
  font-weight: bold;
}

a.ManagedObject.VirtualMachine::before {
  // icon-service:
  content: '\e840';
}

a.ManagedObject.HostSystem::before {
  // icon-host:
  content: '\e866';
}

a.ManagedObject.Datastore::before {
  // icon-database:
  content: '\e80c';
}

a.ManagedObject.red::before {
  color: @color-critical;
}

a.ManagedObject.green::before {
  color: @color-ok;
}

a.ManagedObject.yellow::before {
  color: @color-warning;
}

a.ManagedObject.gray::before {
  color: @gray;
}

.sparks {
  width: 4em;
  height: 3em;
  overflow: hidden;
}

i.icon {
  &.state::before {
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
  }

  &.poweredOn::before, &.green::before, &.UP::before {
    color: @color-ok;
  }

  &.poweredOff::before, &.suspended::before, &.red::before, &.DOWN::before {
    color: @color-critical;
  }

  &.standby::before, &.yellow::before {
    color: @color-warning;
  }

  &.UNREACHABLE::before {
    color: @color-unreachable;
  }

  &.PENDING::before {
    color: @color-pending;
  }

  &.unknown::before {
    color: @color-unknown;
  }

  &.gray::before {
    color: @gray;
  }
}

h1 i.icon {
  &:first-of-type {
    margin-left: 1em;
  }
  &.state::before {
    font-size: 0.75em;
    width: 1.5em;
  }
}

thead th {
  white-space: nowrap;

  a:hover, a:focus {
    text-decoration: underline;
  }
}

table.preformatted td {
  padding: 0;
}

tr[href].same-link-hovered {
  background-color: @tr-hover-color;
}

table.vm-disk-usage-table {
  td:not(:first-of-type), th:not(:first-of-type) {
    text-align: right;
  }

  th:last-of-type {
    text-align: left;
  }

  td:first-of-type {
    overflow: hidden;
    display: inline-block;
    height: 2em;
    min-width: 8em;
  }
}

th.table-header-day {
  text-align: right;
}

.host-info h2, .vm-info h2 {
  margin-top: 1.5em;
  &:first-of-type {
    margin-top: 0.5em;
  }
}

form.quicksearch input.search {
  float: right;
}

div.event-heatmap-calendars > table.calendar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  caption {
    font-weight: bold;
    text-align: center;
  }
  th, td {
    text-align: center;
  }

  td {
    padding: 0 2px 2px 0;
    font-size: 1.25em;
    line-height: 2em;
    width: 2.2em;
  }

  tbody th {
    width: 2.6667em;
    vertical-align: top;
    font-size: 0.75em;
  }

  td a {
    display: block;
    border-radius: 0.2em;
    color: @text-color;
  }

  td.today a {
    border-radius: 0;
    // No, this jumps when there is no link
    // border: @text-color solid 1px;
  }

  td.other-month, td.other-month a, td.future-day, td.future-day a {
    color: @gray-light;
  }
}

p.information, p.warning, p.critical {
  margin: 0.5em 0 0.5em 0;
  background-color: @color-ok;
  color: white;
  font-weight: bold;
  padding: 1em;
}

p.warning {
  background-color: @color-warning;
}

p.critical {
  background-color: @color-critical;
}

.controls .refresh-container-control:focus {
  background-color: inherit;
}

.vcenter-summaries {
  > a {
    width: 20em;
    height: 20em;
    background-color: gray;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin: 0.2em;

    &:hover {
      text-decoration: inherit;
    }

    > span {
      display: block;
    }

    > .number {
      font-size: 6em;
      line-height: 2.5em;
      text-align: center;
    }

    > .title {
      font-size: 1.5em;
      line-height: 1em;
      text-align: center;
    }

    &.green {
      background-color: @color-ok;
    }

    &.red {
      background-color: @color-critical;
    }

    &.yellow {
      background-color: @color-warning;
    }
  }
}

#layout.twocols {
  .vcenter-summaries {
    font-size: 0.8em;
  }
}

/** Action Bar **/
div.action-bar a, div.action-bar form i {
  color: @icinga-blue;
}

div.action-bar > a {
  margin-right: 1em;
}

div.action-bar {
  > * {
    vertical-align: middle;
  }
  .pagination-control {
    float: none;
    clear: none;
    display: inline-block;
    line-height: inherit;
    margin: 0;
  }

  form input {
    margin: 0;
  }
}

#layout.twocols div.action-bar .pagination-control {
  li {
    display: none;
  }

  li:nth-child(1), li.active, li:last-child {
    display: list-item;
  }

  li.active a {
    border-bottom: none;
  }
}

/** Dropdown in action bar **/
div.action-bar ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    a { display: block; }
  }
}

div.action-bar > ul {
  display: inline-block;
  > li {
    display: inline-block;
  }
}

div.action-bar > ul ul {
  padding: 0.5em 1em 1em 0em;
  min-width: 10em;
  position: absolute;
  display: none;
  color: white;
  background-color: @icinga-blue;

  a {
    display: block;
    padding: 0.3em 0.5em 0.3em 1em;
    margin: 0;
    outline: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  li.active a {
    font-weight: bold;
  }
}

div.action-bar > ul > li:hover ul {
  display: block;
}
div.action-bar > ul > li > a {
  padding: 0.2em 0.5em;
}
div.action-bar > ul > li:hover {
  background-color: @icinga-blue;
  & > a {
    color: white;
    text-decoration: none;
  }
}
/** END of dropdown in action bar **/

/** Tree **/
.tree li a {
  display: inline-block;
  padding-left: 1em;
  line-height: 2em;
  text-decoration: none;
  color: #777;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 0.8em 0.4em;
}

ul.tree li > .handle {
  background-image: none;
  &:before {
    content: '\e806';
    font-family: 'ifont';
    position: absolute;
    font-size: 0.6em;
    margin-left: 0.25em;
    margin-top: 0.9em;
  }
}
ul.tree li.collapsed > .handle {
  background-image: none;
  &:before {
    content: '\e805';
  }
}
/** Tree custom **/

.tree li a.red::before {
  color: @colorCritical;
}

.tree li a.yellow::before {
  color: @colorWarning;
}

.tree li a.green::before {
  color: @colorOk;
}


/** QuickSearch **/

form.quicksearch {
  display: block;
  input.search {
    width: 8em;
    min-width: unset;
    border: none;
    background-size: 0.75em auto;
    background-position: 0.5em 0.9em;
    padding-left: 1.5em;
    margin-left: 1.5em;
    font-size: 0.75em;
    font-weight: normal;
    &:focus {
      width: 16em;
      .transition(width 0.5s ease);
      border: none;
    }
  }
}

#layout.twocols form.quicksearch input.search {
  float: right;
}

/** Path **/
span.dc-path a {
  color: @icinga-blue;
}

/** Table VM state **/
table {

  tr.poweredOn td:first-child, tr.poweredOff td:first-child, tr.datastore td:first-child {
    padding-left: 2em;
    &::before {
      font-family: 'ifont';
      // icon-help:
      float: left;
      content: '\e85b';
      font-weight: bold;
      margin-left: -1.5em;
      margin-top: 0;
    }
  }

  tr.poweredOn td:first-child::before {
    // icon-ok
    color: @color-ok;
    content: '\e803';
  }

  tr.poweredOff td:first-child::before {
    color: @gray;
    // icon-off
    content: '\e815';
  }

  tr.datastore td:first-child::before {
    color: @gray;
    // icon-database
    content: '\e80c';
  }

  tr.datastore td:first-child::before {
    color: @colorOk;
  }
  tr.yellow td:first-child::before {
    color: @colorWarning;
  }
  tr.red td:first-child::before {
    color: @colorCritical;
  }
}

div.object-summaries {
  background-color: @text-color;
  border-radius: 0.5em;
  color: white;
  padding: 0.25em 0.25em 0.25em 0.25em;
  vertical-align: middle;

  i {
    vertical-align: top;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  a {
    display: inline-block;
    min-width: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.2em;
    height: 2em;
    border: 0.2em solid transparent;
    line-height: 1.6em;
    overflow: hidden;
    padding-left: 0.4em;
    padding-right: 0.4em;
    vertical-align: middle;
    border-radius: 1em;
    &:focus {
      outline: none;
    }
    &:hover {
      text-decoration: none;
      box-shadow: inset 0 0 4em 4em rgba(255,255,255,0.3);
    }
    &.chosen {
      border-color: white;
    }
  }

  a.red, a.poweredoff, a.suspended {
    background-color: @color-critical;
  }

  a.yellow, a.standby {
    background-color: @color-warning;
  }

  a.green, a.poweredon {
    background-color: @color-ok;
  }

  a.unknown {
    background-color: @color-unknown;
  }

  a.gray {
    background-color: @gray;
  }
}

table {
  a.state {
    color: white;
    display: inline-block;
    min-width: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0.2em;
    height: 2em;
    border: 0.2em solid transparent;
    line-height: 1.6em;
    overflow: hidden;
    padding-left: 0.4em;
    padding-right: 0.4em;
    vertical-align: middle;
    border-radius: 1em;
    &:focus {
      outline: none;
    }
    &:hover {
      text-decoration: none;
      box-shadow: inset 0 0 4em 4em rgba(255,255,255,0.3);
    }
    &.chosen {
      border-color: white;
    }

    &.red, &.poweredoff, &.suspended {
      background-color: @color-critical;
    }

    &.yellow, &.standby {
      background-color: @color-warning;
    }

    &.green, &.poweredon {
      background-color: @color-ok;
    }

    &.unknown {
      background-color: @color-unknown;
    }

    &.gray {
      background-color: @gray;
    }
  }
}

div.health {
  border-left: 0.5em solid transparent;
  margin-bottom: 1em;
  padding: 0.5em 1em;

  &.red {
    border-color: @color-critical;
  }
  &.green {
    border-color: @color-ok;
  }
}

/** Various **/

table.name-value-table a {
  color: @icinga-blue;
}

tr.state td:first-child, tr.event td:first-child {
  padding-left: 2em;
  &::before {
    font-family: 'ifont';
    // icon-help:
    float: left;
    content: '\e85b';
    font-weight: bold;
    margin-left: -1.5em;
    margin-top: 0;
  }
}

tr.state.error td:first-child::before {
  color: @color-critical;
  // icon-cancel
  content: '\e804';
}


tr.state td:first-child::before, tr.event td:first-child::before {
  font-family: 'ifont';
  // icon-help:
  float: left;
  content: '\e85b';
  font-weight: bold;
  margin-left: -1.5em;
  margin-top: 0;
}

tr.state.migration-failed td:first-child::before {
  color: @color-critical;
  // icon-cancel
  content: '\e804';
}

tr.state.migrated td:first-child::before {
  color: @color-ok;
  // icon-ok
  content: '\e803';
}

tr.state.migrating td:first-child::before {
  color: @color-warning;
  // icon-flapping
  content: '\e85d';
}

tr.state.emigrating td:first-child::before {
  color: @color-warning;
  // icon-starttime
  content: '\e83a';
}

tr.state.poweredOn td:first-child::before {
  color: @color-ok;
  // icon-plug
  content: '\e862';
}

tr.state.starting td:first-child::before {
  color: @color-pending;
  // icon-plug
  content: '\e862';
}

tr.state.stopping td:first-child::before {
  color: @color-critical;
  // icon-spinner
  content: '\e869';
}

tr.state.poweredOff td:first-child::before {
  color: @color-critical;
  // icon-plug
  content: '\e862';
}

tr.event.suspended td:first-child::before {
  color: @color-critical;
  // icon-moon
  content: '\e86e';
}

tr.event.reconfigured td:first-child::before {
  color: @color-warning;
  // icon-edit
  content: '\e84f';
}

tr.event.created td:first-child::before {
  color: @color-ok;
  // icon-plus
  content: '\e805';
}

tr.event.being-created td:first-child::before {
  color: @color-pending;
  // icon-spinner
  content: '\e869';
}

/** Resource Usage **/
div.resource-usage {
  > .usage-bar {
    min-width: 8em;
    border: none;
    padding: 0;
    background-color: @gray-lighter;
    height: 1em;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    > .usage {
      height: 100%;
      display: inline-block;
      float: left;
    }
  }
  > .usage-used {
    float: left;
  }
  > .usage-capacity {
    float: right;
  }
}

#layout.twocols, #layout.minimal-layout {
  div.content div.resource-usage {
    .usage-used {
      display: block;
      width: 100%;
    }
    .usage-capacity {
      float: left;
    }
  }
}

div.controls div.resource-usage {
  padding-left: 7em;
  .usage-used {
    font-size: 0.9em;
    display: inline;
    width: auto;
  }
  > .usage-capacity {
    font-size: 0.9em;
    float: right;
  }
}

#layout.twocols, #layout.minimal-layout {
  div.controls div.resource-usage {
    .usage-used {
      display: inline;
      width: auto;
    }
    > .usage-capacity {
      float: right;
    }
  }
}

/** END of Resource Usage **/

/** Disk Usage **/
div.disk-usage {
  width: 100%;
  min-width: 8em;
  border: none;
  padding: 0;
  background-color: @gray-lighter;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-height: 0.5em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  overflow: hidden;

  span {
    display: inline-block;
    border-bottom-left-radius: 0.3em;
    border-top-left-radius: 0.3em;
  }

  a {
    display: inline-block;
    height: 6em;
    vertical-align: top;
    background-color: @gray;
    text-decoration: none;
    outline: none;
    overflow: visible;
    line-height:1em;
    // min-width: 0.3em;
    margin: 0;
    padding: 0;
    &:hover, &.same-link-hovered {
      text-decoration: none;
      background-color: rgb(70, 128, 255) !important;
    }
    &.unknown:hover {
      background-color: #555 !important;
    }

    &.free {
      background-color: @color-ok;
    }
    &.free:hover {
      background-color: inherit !important;
    }

    &.free.overcommitted {
      background-color: @color-warning-handled;
    }

    &.free.overcommitted-twice {
      background-color: @color-critical-handled;
    }
  }

  &.compact {
    margin: 0;
    height: 0.8em;
    a {
      height: 0.8em;
    }
  }
}

/* Less spacing in rows */
.common-table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  word-break: keep-all;
  white-space: nowrap;
}

/* Director Forms */

form {
  #_FAKE_SUBMIT {
    position: absolute;
    left: -100%;
  }
}

/* END of Director Forms */

/* Tree, stolen from Director */

.tree li a {
  display: inline-block;
  padding-left: 2.4em;
  line-height: 2em;
  text-decoration: none;
  color: #777;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 0.8em 0.4em;
}

ul.tree li > .handle {
  background-image: none;
  &:before {
    content: '\e806';
    font-family: 'ifont';
    position: absolute;
    font-size: 0.6em;
    margin-left: 0.25em;
    margin-top: 0.9em;
  }
}
ul.tree li.collapsed > .handle {
  background-image: none;
  &:before {
    content: '\e805';
  }
}
.tree li a {
  padding-left: 1em;
}
/* End of tree */

/** From Director pre.logfile, modified */
div.logWindow {
  height: 31.25em;
  // height: 4.5em;
  // //font-size: 0.875em;
  line-height: 1.25em;
  border: 1px solid @gray-lighter;
  color: #ddd;
  overflow-y: scroll;
  padding: 0;
}

pre.logOutput {
  position : relative;
  background-color: transparent;
  bottom: 0;
  padding: 0.5em 1em;
  margin: 0;
  white-space: pre-wrap;

  a {
    color: #fff;
  }

  .loglevel, .application {
    font-weight: bold;
  }

  .error {
    color: @color-critical;
  }

  .warning {
    color: @color-warning;
  }

  .info {
    color: @color-ok;
  }

  .notice {
    // color: @color-ok;
  }

  .debug {
    color: @color-pending;
  }
}

/** End logfile */
.cpu {
  border: 0.75em solid @text-color;
  height: 6em;
  box-sizing: border-box;
  width: 6em;
  border-radius: 1em;
  text-align: center;
  display: inline-block;
  padding: 0.5em 0;
  background-color: @color-ok;
  color: white;
  margin-right: 1em;
  &.warning {
    background-color: @color-warning-handled;
    color: @text-color;
  }
  &.critical {
    background-color: @color-critical-handled;
  }
  span {
    margin: 0;
    padding: 0;
    line-height: 1em;
  }
  .cpu-count {
    font-size: 0.6em;
    line-height: 1em;
  }
  .cpu-consumption {
    font-size: 2em;
    display: block;
  }
  .cpu-unit {
    font-size: 1em;
  }
}
div.controls .cpu {
  float: left;
}

.inline-perf-small {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 1.5em;
  width: 5em;
}

.inline-perf-container {

  &.hovered {
    .inline-perf-small {
      width: auto;
      height: auto;
      margin: 0.5em 1em;
    }
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 100;
    position: absolute;
    top: -2em;
    left: -620px;
  }
}
